@model dynamic
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Auctioneer";
}

@section FirebaseScripts
{
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script src="~/Scripts/KOFBScripts/KOFBConfig.js"></script>
}

<div class="container">
    <div class="pt-4 pb-4">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                @Html.Partial("_AuctionDetailsCard")
                <div class="card mb-3 box-shadow" data-bind="with: entity">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Auction Room for <span data-bind="text: Title"></span></span>
                        <span>
                            <a class="btn btn-sm btn-light" role="button" data-toggle="collapse" href="#collapse-auction-details-card-body" aria-expanded="false" aria-controls="collapse-auction-details-card-body">
                                <i class="fas fa-sort fa-fw fa-xs"></i>
                            </a>
                        </span>
                    </div>
                    <div class="card-body text-center">
                        <!--ko if: Bidder().Nickname-->
                        <div class="alert alert-success" role="alert">
                            <small>
                                Highest bidder now is
                                <strong>&#x40;<span data-bind="text: Bidder().Nickname"></span></strong>
                                &#40;<span data-bind="text: Bidder().Email"></span>&#41;
                            </small>
                        </div>
                        <!--/ko-->
                        <!--ko if: Status() === 'New'-->
                        <button type="button" class="btn btn-secondary btn-block mt-2 mb-2" data-bind="click: $root.performStart.bind($data, $parent)">
                            START AUCTION <i class="fas fa-spinner fa-pulse fa-fw" data-bind="visible: $root.isBusy"></i>
                        </button>
                        <!--/ko-->
                        <button type="button" class="btn btn-success btn-block mt-2 mb-2" data-bind="click: $root.performCall.bind($data, $parent), enable: Status() === 'Started'">
                            CALL at RM <span data-bind="text: Number(Amount()).toLocaleString('en')"></span>
                            <i class="fas fa-spinner fa-pulse fa-fw" data-bind="visible: $root.isBusy"></i>
                        </button>
                    </div>
                    <!--ko if: Status() === 'Started'-->
                    <div class="card-body bg-light">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <small>Current Call</small>
                                <p class="h5">&nbsp;<!--ko if: Call-->CALL <span data-bind="text: Call"></span><!--/ko--></p>
                            </div>
                            <div>
                                <small>Current Bid</small>
                                <p class="h5">&nbsp;RM <span data-bind="text: Number(Amount()).toLocaleString('en')"></span></p>
                            </div>
                        </div>
                    </div>
                    <!--/ko-->
                    <!--ko if: Status() === 'Ended'-->
                    <div class="card-body bg-danger text-center">
                        <small>Auction ended at RM <span data-bind="text: Number(Amount()).toLocaleString('en')"></span></small>
                        <br />
                        <small>
                            Auction won by
                            <strong>&#x40;<span data-bind="text: Bidder().Nickname"></span></strong>
                            &#40;<span data-bind="text: Bidder().Email"></span>&#41;
                        </small>
                        <span class="text-warning"><i class="fas fa-trophy fa-fw"></i></span>
                    </div>
                    <!--/ko-->
                    <div class="card-body">
                        <ul class="list-unstyled" data-bind="foreach: Logs">
                            <li>
                                <samp>
                                    <small>
                                        <i class="far fa-clock fa-fw"></i><span data-bind="text: moment(Timestamp()).format('hh:mma')"></span>
                                        <abbr data-bind="attr: { title: Email }">&#x40;<span data-bind="text: Nickname"></span></abbr>:
                                        <span data-bind="text: Text"></span>
                                    </small>
                                </samp>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/KOScripts/KOShared.js"></script>
    <script src="~/Scripts/KOScripts/KOSchemas/KOAuction.js"></script>
    <script src="~/Scripts/KOFBScripts/KOFBAuctionApp.js"></script>
    <script>
        $(function() {
            ko.applyBindings(modelView);
            modelView.initDetails("@ViewBag.Key", "AuctionApp");
            auctionsRef.child("@ViewBag.Key").on('value',
                function(snapshot) {
                    console.log(snapshot.key);
                    console.log(snapshot.val());
                    modelView.updateAuctioneerDetails(snapshot.val());
                });
        });
    </script>
}