@{
    ViewBag.Title = "Create Auction";
}
<div class="bg-light pt-4 pb-4">
    <div class="container">
        <h4 class="display-4">
            @ViewBag.Title
            <small class="text-secondary">
                <i class="fas fa-spinner fa-pulse fa-xs" data-bind="visible: isBusy"></i>
            </small>
        </h4>
    </div>
</div>
<div class="container">
    <div class="pt-4 pb-4">
        @Html.Partial("_DetailsValue")
        <button class="btn btn-light" data-bind="click: createEntity">Create</button>
        <a class="btn btn-light" href="/Auction/Dashboard">Cancel</a>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/ko-scripts-details")
    <script>
        $(function() {
            ko.applyBindings(modelView);
            modelView.kendoCreateComponents = function () {
                $("#start-date-time").kendoDateTimePicker({
                    value: new Date(),
                    dateInput: true
                });
                $("#stop-date-time").kendoDateTimePicker({
                    value: new Date(),
                    dateInput: true
                });
            };
            modelView.viewDetails("Auction", "@ViewBag.Title", undefined, undefined, "/Auction/Dashboard");
        });
    </script>
}