@{
    ViewBag.Title = "Password";
}
<div class="bg-light pt-4 pb-4">
    <div class="container">
        <h4 class="display-4">
            @ViewBag.Title
            <small class="text-secondary">
                <i class="fas fa-spinner fa-pulse fa-xs" data-bind="visible: isBusy"></i>
            </small>
        </h4>
        <p class="lead">@ViewBag.Message</p>
    </div>
</div>
<div class="pt-4 pb-4">
    <div class="container">
        <form data-bind="with: entity" id="set-user-password-form">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Username</label>
                <div class="col-md-6">
                    <input input type="text" readonly class="form-control-plaintext" data-bind="value: Username" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control form-control-sm" data-bind="value: Password" />
                </div>
            </div>
        </form>
        <button class="btn btn-light" data-bind="click: setEntityPasssword">Set Password</button>
        <a class="btn btn-light" href="/Auction/Dashboard">Cancel</a>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/KOScripts/KOShared.js"></script>
    <script src="~/Scripts/KOScripts/KOSchemas/KOUser.js"></script>
    <script src="~/Scripts/KOScripts/KOPassword.js"></script>
    <script>
        $(function() {
            ko.applyBindings(modelView);
            modelView.viewDetails("User", "@ViewBag.Title", "@ViewBag.Key", undefined, "/Auction/Dashboard");
        });
    </script>
}