<form data-bind="with: entity" id="user-details-text-form">
    <div class="form-group row">
        <label class="col-md-2 col-form-label-sm">Username</label>
        <div class="col-md-6">
            <input type="text" readonly class="form-control-plaintext form-control-sm" data-bind="value: Username" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label-sm">Email</label>
        <div class="col-md-6">
            <input type="text" readonly class="form-control-plaintext form-control-sm" data-bind="value: Email" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label-sm">Location</label>
        <div class="col-md-6">
            <input type="text" readonly class="form-control-plaintext form-control-sm" data-bind="value: Location" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label-sm">Country</label>
        <div class="col-md-6">
            <input type="text" readonly class="form-control-plaintext form-control-sm" data-bind="value: Country" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label-sm">Roles</label>
        <div class="col-md-6">
            <input type="text" readonly class="form-control-plaintext form-control-sm" data-bind="value: Roles" />
        </div>
    </div>
</form>