<form class="form-horizontal" data-bind="with: entity" id="user-details-form">
    <div class="form-group">
        <label class="col-md-2 control-label">Username</label>
        <div class="col-md-6">
            <p class="form-control-static" data-bind="text: Username"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-6">
            <p class="form-control-static" data-bind="text: Email"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Location</label>
        <div class="col-md-6">
            <p class="form-control-static" data-bind="text: Location"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Country</label>
        <div class="col-md-6">
            <p class="form-control-static" data-bind="text: Country"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Roles</label>
        <div class="col-md-6">
            <p class="form-control-static" data-bind="text: Roles"></p>
        </div>
    </div>
</form>