<form class="form-horizontal" data-bind="with: entity" id="user-details-value-form">
    <!--ko if: $root.action === 'create user'-->
    <div class="form-group">
        <label class="col-md-2 control-label">Username</label>
        <div class="col-md-6">
            <input type="text" class="form-control" data-bind="value: Username" />
        </div>
    </div>
    <!--/ko-->
    <!--ko if: $root.action === 'edit user'-->
    <div class="form-group">
        <label class="col-md-2 control-label">Username</label>
        <div class="col-md-6">
            <input type="text" class="form-control" data-bind="value: Username" disabled="disabled" />
        </div>
    </div>
    <!--/ko-->
    <!--ko if: $root.action === 'create user'-->
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-6">
            <input type="password" class="form-control" data-bind="value: Password" />
        </div>
    </div>
    <!--/ko-->
    <!--ko if: $root.action === 'edit user'-->
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-6">
            <input type="password" class="form-control" data-bind="value: Password" disabled="disabled" />
        </div>
    </div>
    <!--/ko-->
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-6">
            <input type="text" class="form-control" data-bind="value: Email" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Location</label>
        <div class="col-md-6">
            <input type="text" class="form-control" data-bind="value: Location" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Country</label>
        <div class="col-md-6">
            <input type="text" class="form-control" data-bind="value: Country" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Roles</label>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Role" id="user-details-value-form-roles-input" />
                <span class="input-group-btn">
                    <button class="btn btn-default" data-bind="click: addChildItem(Roles, document.getElementById('user-details-value-form-roles-input').value)">Add</button>
                </span>
            </div>
            <ul class="list-inline" data-bind="foreach: Roles">
                <li>
                    <span data-bind="text: $data"></span>
                    <a class="btn btn-link" data-bind="click: $parent.removeChildItem($parent.Roles, $data)">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</form>