@{
    ViewBag.Title = "Create User";
}

<div>
    <h2>
        <i class="far fa-user"></i> @ViewBag.Title
        <small>
            <i class="fas fa-cog fa-spin" data-bind="visible: isBusy"></i>
        </small>
    </h2>
    <hr/>
    @Html.Partial("_DetailsValue")
    <button class="btn btn-default" data-bind="click: createEntity">Create</button>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/KOScripts/KOShared.js"></script>
<script src="~/Scripts/KOScripts/KOSchemas/KOUser.js"></script>
<script src="~/Scripts/KOScripts/KODetails.js"></script>
<script>
    $(function() {
        ko.applyBindings(modelView);
        modelView.viewAll("User");
    });
</script>