@{
    ViewBag.Title = "Users";
}
<div class="mb-2">
    <h4 class="display-4">
        @ViewBag.Title
        <small class="text-secondary">
            <i class="fas fa-spinner fa-pulse fa-xs" data-bind="visible: isBusy"></i>
        </small>
    </h4>
</div>
<div class="mb-2">
    <div class="table-responsive">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Roles</th>
                    <th>
                        <a class="text-secondary" href="/User/Create" title="Add">
                            <i class="fas fa-user-plus fa-fw fa-xs"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: list">
                <tr>
                    <th><span data-bind="text: $index() + 1"></span>.</th>
                    <td>
                        <span data-bind="text: Object.Username"></span>
                    </td>
                    <td>
                        <span data-bind="text: Object.Email"></span>
                    </td>
                    <td><span data-bind="text: Object.Location"></span>,<span data-bind="text: Object.Country"></span></td>
                    <td>
                        <span data-bind="text: Object.Roles"></span>
                    </td>
                    <td>
                        <a class="text-secondary" data-bind="attr: { href: '/User/Details/' + Key }" title="Details"><i class="fas fa-user fa-fw fa-xs"></i></a>
                        <a class="text-secondary" data-bind="attr: { href: '/User/Edit/' + Key }" title="Edit"><i class="fas fa-edit fa-fw fa-xs"></i></a>
                        <a class="text-secondary" data-bind="attr: { href: '/User/Password/' + Key }" title="Set Password"><i class="fas fa-key fa-fw fa-xs"></i></a>
                        <a class="text-secondary" data-bind="attr: { href: '/User/Remove/' + Key }" title="Delete"><i class="fas fa-eraser fa-fw fa-xs"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/KOScripts/KOShared.js"></script>
    <script src="~/Scripts/KOScripts/KOAll.js"></script>
    <script>
        $(function() {
            ko.applyBindings(modelView);
            modelView.viewAll("User");
        });
    </script>
}