@{
    ViewBag.Title = "Set User Password";
}

<div>
    <h2>
        <i class="far fa-user"></i> @ViewBag.Title
        <small>
            <i class="fas fa-cog fa-spin" data-bind="visible: isBusy"></i>
        </small>
    </h2>
    <hr />
    <form class="form-horizontal" data-bind="with: entity" id="set-user-password-form">
        <div class="form-group">
            <label class="col-md-2 control-label">Username</label>
            <div class="col-md-6">
                <p class="form-control-static" data-bind="text: Username"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-6">
                <input type="password" class="form-control" data-bind="value: Password" />
            </div>
        </div>
    </form>
    <button class="btn btn-default" data-bind="click: setEntityPasssword">Set Password</button>
    <a class="btn btn-default" href="/User">Cancel</a>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/KOScripts/KOShared.js"></script>
<script src="~/Scripts/KOScripts/KOSchemas/KOUser.js"></script>
<script src="~/Scripts/KOScripts/KOPassword.js"></script>
<script>
    $(function() {
        ko.applyBindings(modelView);
        modelView.viewDetails("User", "@ViewBag.Title", "@ViewBag.Key");
    });
</script>