@{
    ViewBag.Title = "Roles";
}
<div class="pt-4 pb-4">
    <div class="container">
        <h1 class="display-4">@ViewBag.Title</h1>
        <p class="lead">@ViewBag.Message</p>
        <dl>
            @foreach (var claim in Model)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
        <a class="btn btn-light" href="/User">Cancel</a>
    </div>
</div>