@{
    ViewBag.Title = "About";
}
<div class="pt-4 pb-4">
    <div class="container">
        <h1 class="display-4">@ViewBag.Title</h1>
        <p class="lead">@ViewBag.Message</p>
        <p>Use this area to provide additional information.</p>
    </div>
</div>