@{
    ViewBag.Title = "401";
}
<div class="pt-4 pb-4">
    <div class="container">
        <h1 class="display-4">@ViewBag.Title</h1>
        <p class="lead">@ViewBag.Message</p>
        <p class="lead">The request has not been applied because it lacks valid authentication credentials for the target resource.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-light" href="/Account/Login">Login</a>
        }
        else
        {
            <a class="btn btn-light" href="/Auction/Dashboard">Cancel</a>
        }
    </div>
</div>