<h3>Login</h3>
<div>
    <form class="form-inline" action="/Account/Login" method="post">
        <input class="form-control" type="text" placeholder="username" name="Username"/>
        <input class="form-control" type="password" placeholder="password" name="Password"/>
        <button class="btn btn-primary" type="submit">login</button>
    </form>
</div>
<br/><br/>
@if (!ViewBag.Success)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="text-danger">Login unsuccessful</h4>
        <p>
            <span class="text-danger">@ViewBag.Status</span>
        </p>
    </div>
}